{% extends 'frontend/base.html' %}

{% block content %}
    <!-- Audio Player -->
    <div class="audio-player">
        
        <form action="{% url 'search' pk=cafe.id %}" method="get" class="search-bar">
            <input type="search" name="query" pattern=".*\S.*" required>
            <button class="search-btn" type="submit">
                <span>Search</span>
            </button>
        </form>

        <h2>Search Results For - '{{ query_text }}'</h2>

        <script>
            // Check if 'voted' or 'already_voted' is true and display alert
            {% if voted %}
                alert('Thank you for voting! You can vote again after 5 minutes.');
            {% elif already_voted %}
                alert('You already voted. Please wait 5 minutes to vote again.');
            {% endif %}
        </script>

        <form method="post" action="{% url 'music_voting' pk=cafe.id %}?refresh=true" class="d-flex justify-content-center pt-5">
            {% csrf_token %}
            <ul class="song-list">
                <h2>Songs to Vote</h2>
                {% if musics %}

                {% for music in musics %}
                <li>
                    <input type="hidden" name="music_id_{{ music.id }}" value="{{ music.id }}">
                    <input type="hidden" name="cafe_id" value="{{ cafe.id }}">
                    <button type="submit" class="invisible-btn" name="submit_{{ music.id }}">
                        <img src="{{ music.music_image }}" alt="{{ music.music_name }}" width="50">
                        {{ music.music_name }} - {{ music.artist_name }}
                    </button>
                </li>
                {% endfor %}

                {% else %}
                <li>
                    No song matching your search was found.
                </li>
                {% endif %}
            </ul>
        </form>
    </div>
    

    <!-- Bootstrap & jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if voted %}
        <!-- Execute the JavaScript function if voting is successful -->
        <script>
            window.onload = function() {
                showAlert();
            };
        </script>
    {% endif %}
{% endblock %}